@font-face {
	font-family: "LcdSolid";
	src: url("../fonts/LcdSolid.ttf");
}

* {
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

.game-field {
	width: 100%;
	text-align: center;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1;
}
@media screen and (min-width: 800px) {
	canvas {
		position: unset;
		margin: 50px;
	}
}

.scoreboard-box {
	position: absolute;
	left: 70%;
	top: 50px;
	font-size: 20px;
	font-family: LcdSolid;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

@media screen and (min-width: 800px) {
	.scoreboard-box {
		left: 80%;
		font-size: 30px;
	}
}
.scoreboard-property-box {
	display: flex;
	flex-direction: row;
}

.score-box>* {
	margin: 0 0.1em;
}

.flag-bag-limit {
	color: #ff4c4c;
}
.menu {
	height: 40%;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 30%;
	background-color: #fffbf8;
	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 2px;
	border: black 2px solid;
	z-index: 3;
}
.menu-button-box {
	margin-top: 3em;
	display: flex;
	flex-direction: row;
}
.menu-button {
	font-family: LcdSolid;
	font-size: 18px;
	cursor: pointer;
}
.menu-button:hover {
	color: grey;
}
.menu-title {
	font-family: LcdSolid;
	font-size: 20px;
}
.hidden {
	display: none !important;
}